.input__container {
  border-bottom: 0.7px solid #383743;
  width: 351px;
}
.input {
  height: 28px;
  background-color: #ebe9d7;
  border: none;
  outline: none;
  margin: 15px 15px 10px;
  &::placeholder {
    font-size: 18px;
    color: #383743;
    opacity: 50%;
  }
}
/*.input input[type="text"] {
  background: red;
}
*/
