button {
  width: 324px;
  height: 52.8px;
  border-radius: 3.6px !important;
  background-color: #57bbbc;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 47.3px !important;
  &:focus {
    outline: none !important;
  }
}
