.text__container p {
  font-size: 24px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  color: #383743;
  font-family: Roboto, sans-serif;
  &:nth-child(2) {
    margin-left: 0;
    font-size: 18px;
    letter-spacing: -0.25px;
    font-weight: normal;
    width: 357px;
    line-height: 1.44;
  }
}
